In [130]:
import graphlab as gl
from random import randrange
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# 1. Basic analysis

In [3]:
sf = gl.SFrame.read_csv("C:/Users/JayZheng/Documents/Data Science/web economics/assignment 1/dataset/train.csv")

This non-commercial license of GraphLab Create for academic use is assigned to zcahgj8@ucl.ac.uk and will expire on March 08, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\JayZheng\AppData\Local\Temp\graphlab_server_1489344790.log.0

Finished parsing file C:\Users\JayZheng\Documents\Data Science\web economics\assignment 1\dataset\train.csv

Parsing completed. Parsed 100 lines in 0.961304 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,long,str,long,str,str,str,long,long,str,str,str,str,str,long,long,str,str,long,str,long,long,str,long,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 186256 lines. Lines per second: 176112

Read 1489808 lines. Lines per second: 244575

Finished parsing file C:\Users\JayZheng\Documents\Data Science\web economics\assignment 1\dataset\train.csv

Parsing completed. Parsed 2697738 lines in 10.4272 secs.

In [ ]:
# quick summary of data
sf.head(5)

In [ ]:
# web browser based interactive visualization, can be access with the below URL
sf.show()

In [4]:
# create function to group data and calculate CTR,CPM,payprice and eCPC. 
def group(variable):
    variable = sf.groupby(variable,
                              {'count': gl.aggregate.COUNT(variable)}).sort('count', ascending=False)
    return variable

In [5]:
def CTR(variable):
    variable = sf.groupby(variable,
                            {'CTR': gl.aggregate.MEAN('click')},
                            {'count': gl.aggregate.COUNT(variable)}).sort('CTR', ascending=False)
    variable["CTR"]= variable["CTR"]*100
    return variable

In [6]:
def CPM(variable):
    variable = sf.groupby(variable,
                         {'CPM':gl.aggregate.MEAN('payprice')},
                         {'count':gl.aggregate.COUNT(variable)}).sort('CPM',ascending = False)
    return variable

In [7]:
def PayPrice(variable):
    variable = sf.groupby(variable,
                            {'cost': gl.aggregate.SUM('payprice')},
                            {'count': gl.aggregate.COUNT(variable)}).sort('cost', ascending=False)
    return variable

In [8]:
def eCPC(variable):
    df = sf.groupby(variable,
                            {'cost': gl.aggregate.SUM('payprice')},
                           {'click': gl.aggregate.SUM('click')})

    

    return df

In [9]:
eCPC = eCPC("advertiser")
eCPC["eCPC"]=eCPC["cost"]/eCPC["click"]/1000

In [10]:
group("advertiser")

Columns:
	advertiser	int
	count	int

Rows: 9

Data:
+------------+--------+
| advertiser | count  |
+------------+--------+
|    1458    | 540293 |
|    3386    | 498554 |
|    3427    | 454031 |
|    3476    | 346778 |
|    3358    | 304782 |
|    2821    | 231416 |
|    2259    | 146778 |
|    2261    | 120619 |
|    2997    | 54487  |
+------------+--------+
[9 rows x 2 columns]

In [11]:
eCPC

Columns:
	advertiser	int
	cost	int
	click	int
	eCPC	float

Rows: 9

Data:
+------------+----------+-------+---------------+
| advertiser |   cost   | click |      eCPC     |
+------------+----------+-------+---------------+
|    2261    | 10789152 |   37  | 291.598702703 |
|    3427    | 36820111 |  340  | 108.294444118 |
|    3358    | 28145288 |  233  | 120.795227468 |
|    3476    | 27481402 |  175  | 157.036582857 |
|    2997    | 3413227  |  251  | 13.5985139442 |
|    3386    | 38341028 |  358  | 107.097843575 |
|    1458    | 37231239 |  451  | 82.5526363636 |
|    2821    | 20625766 |  144  | 143.234486111 |
|    2259    | 13649026 |   45  | 303.311688889 |
+------------+----------+-------+---------------+
[9 rows x 4 columns]

In [12]:
group("click")

Columns:
	click	int
	count	int

Rows: 2

Data:
+-------+---------+
| click |  count  |
+-------+---------+
|   0   | 2695704 |
|   1   |   2034  |
+-------+---------+
[2 rows x 2 columns]

In [13]:
group("hour")

Columns:
	hour	int
	count	int

Rows: 24

Data:
+------+--------+
| hour | count  |
+------+--------+
|  0   | 202239 |
|  22  | 172076 |
|  18  | 171748 |
|  16  | 166315 |
|  15  | 166252 |
|  17  | 159044 |
|  13  | 155792 |
|  14  | 145782 |
|  11  | 143110 |
|  12  | 142075 |
+------+--------+
[24 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
group("click")

Columns:
	click	int
	count	int

Rows: 2

Data:
+-------+---------+
| click |  count  |
+-------+---------+
|   0   | 2695704 |
|   1   |   2034  |
+-------+---------+
[2 rows x 2 columns]

In [15]:
group("weekday")

Columns:
	weekday	int
	count	int

Rows: 7

Data:
+---------+--------+
| weekday | count  |
+---------+--------+
|    0    | 465241 |
|    1    | 408417 |
|    3    | 380111 |
|    5    | 378028 |
|    6    | 376514 |
|    4    | 361376 |
|    2    | 328051 |
+---------+--------+
[7 rows x 2 columns]

In [16]:
CTR("weekday").to_dataframe().round(3)

   weekday    CTR   count
0        2  0.091  328051
1        3  0.091  380111
2        4  0.086  361376
3        5  0.079  378028
4        1  0.068  408417
5        0  0.063  465241
6        6  0.056  376514

In [149]:
CTR = CTR("advertiser").to_dataframe().round(3)

In [18]:
CTR("hour").to_dataframe().round(3).head(5)

   hour    CTR   count
0    21  0.105  112438
1    18  0.100  171748
2    17  0.097  159044
3    23  0.090  126138
4    19  0.089  132278

In [19]:
CTR("useragent").to_dataframe().round(3).head(5)

        useragent    CTR  count
0   android_other  0.665   1956
1  android_chrome  0.588    510
2  android_safari  0.481  67728
3      ios_safari  0.462    433
4       mac_other  0.356   8700

In [20]:
CTR("adexchange").to_dataframe().round(3)

  adexchange    CTR   count
0       null  0.461   54487
1          1  0.081  815403
2          3  0.071  900222
3          4  0.055   87521
4          2  0.052  840105

# 2. Basic bidding strategies

In [21]:
validation = pd.read_csv("C:/Users/JayZheng/Documents/Data Science/web economics/assignment 1/dataset/validation.csv")

In [22]:
validation.head(5)

,click,weekday,hour,bidid,logtype,userid,useragent,IP,region,city,...,slotheight,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag
0,0,5,14,91c6a6b9e90c0f54d3230815a5a3e22e,1,u_Vhk7C5STO8TZ3s8,windows_ie,14.122.240.*,216,232,...,250,0,1,0,449a22cd91d9042eda3d3a1b89a22ea8,227,102,0f951a030abdaedd733ee8d114ce2944,3427,"10006,10063,10059,10111"
1,0,3,14,24b3621ad3b063b6c09c541781d534b3,1,u_DANDbCAksMy,android_safari,116.22.55.*,216,217,...,50,FirstView,Na,118,11908,277,118,null,2997,null
2,0,1,13,6e7bce0a9ad42f479827d37bf9618a9d,1,u_VhkxPnKHPo1H3Vb,windows_ie,60.215.242.*,146,149,...,90,0,0,70,d01411218cc79bc49d2a4078c4093b76,241,77,b2e35064f3549d447edbbdfb1f707c8c,3427,null
3,0,5,18,6873feca381b8293bf418ba8408a014c,1,u_Vh5zL3B83ln9Xbl,windows_chrome,27.193.87.*,146,148,...,90,0,0,70,c46090c887c257b61ab1fa11baee91d8,241,77,0f951a030abdaedd733ee8d114ce2944,3427,null
4,0,5,14,7e6430333c552cf0b32bb21dc792d2df,1,u_VhKPOr5wOt9HQsj,windows_ie,183.228.214.*,275,275,...,280,2,0,5,ff5123fb9333ca095034c62fdaaf51aa,300,178,361e128affece850342293213691a043,3386,null

In [92]:
def constant_bid(bid):
    impression = 0.0
    clicks = 0
    cost = 0.0
    budget = 100000

    
    for click, pay_price in validation[['click','payprice']].values:
            if bid > pay_price:
                impression += 1.0
                clicks += click
                cost += pay_price
            if cost>= budget:
                break
        
    return impression, clicks, cost

In [93]:
my_bid = [10,20,50,100,150,200,250,300]

In [94]:
df = pd.DataFrame()
df["constand_bid"]=my_bid
imp_temp = []
cost_temp = []
click_temp = []

for i in my_bid:
    [impression,click,cost] = constant_bid(i)
    imp_temp.append(impression)
    cost_temp.append(cost)
    click_temp.append(click)

df["impressions"]=imp_temp
df["click"]=click_temp
df["cost"]= cost_temp
df["CTR"]= (df["click"]/df["impressions"]*100).round(4)
df["CPM"]= (df["impressions"]/df["cost"]*1000).round(4)
df["CPC"]= (df["cost"]/df["click"]).round(4)

In [95]:
df_CTR = df.sort_values("CTR",ascending=False)

In [96]:
df_CTR #best CTR

   constand_bid  impressions  click      cost     CTR       CPM        CPC
7           300       1294.0      1  100004.0  0.0773   12.9395  100004.00
6           250       1365.0      1  100023.0  0.0733   13.6469  100023.00
5           200       1483.0      1  100056.0  0.0674   14.8217  100056.00
0            10      13364.0      8   76078.0  0.0599  175.6618    9509.75
4           150       1725.0      1  100044.0  0.0580   17.2424  100044.00
1            20       9222.0      5  100010.0  0.0542   92.2108   20002.00
3           100       2019.0      1  100022.0  0.0495   20.1856  100022.00
2            50       4155.0      1  100021.0  0.0241   41.5413  100021.00

In [103]:
df_CPC = df.sort_values("CPC",ascending=True)

In [104]:
df_CPC # by CPC

   constand_bid  impressions  click      cost     CTR       CPM        CPC
0            10      13364.0      8   76078.0  0.0599  175.6618    9509.75
1            20       9222.0      5  100010.0  0.0542   92.2108   20002.00
7           300       1294.0      1  100004.0  0.0773   12.9395  100004.00
2            50       4155.0      1  100021.0  0.0241   41.5413  100021.00
3           100       2019.0      1  100022.0  0.0495   20.1856  100022.00
6           250       1365.0      1  100023.0  0.0733   13.6469  100023.00
4           150       1725.0      1  100044.0  0.0580   17.2424  100044.00
5           200       1483.0      1  100056.0  0.0674   14.8217  100056.00

In [101]:
df_CPM = df.sort_values("CPM",ascending=True)

In [102]:
df_CPM

   constand_bid  impressions  click      cost     CTR       CPM        CPC
7           300       1294.0      1  100004.0  0.0773   12.9395  100004.00
6           250       1365.0      1  100023.0  0.0733   13.6469  100023.00
5           200       1483.0      1  100056.0  0.0674   14.8217  100056.00
4           150       1725.0      1  100044.0  0.0580   17.2424  100044.00
3           100       2019.0      1  100022.0  0.0495   20.1856  100022.00
2            50       4155.0      1  100021.0  0.0241   41.5413  100021.00
1            20       9222.0      5  100010.0  0.0542   92.2108   20002.00
0            10      13364.0      8   76078.0  0.0599  175.6618    9509.75

In [134]:
def random_bid(bid):
    impression = 0.0
    clicks = 0
    cost = 0.0
    budget = 100000
    bid = randrange(bid)

    
    for click, pay_price in validation[['click','payprice']].values:
            if bid > pay_price:
                impression += 1.0
                clicks += click
                cost += pay_price
            if cost>= budget:
                break
        
    return bid,impression, clicks, cost

In [138]:
random_bid(50)

(38, 5049.0, 3, 100000.0)

In [135]:
random = [20,50,100,150,200,250,300]

In [147]:
df_rand = pd.DataFrame()
imp_temp = []
cost_temp = []
click_temp = []
bid_temp = []

for i in random:
    [bid,impression,click,cost] = random_bid(i)
    imp_temp.append(impression)
    cost_temp.append(cost)
    click_temp.append(click)
    bid_temp.append(bid)
df_rand["bid"]=bid_temp
df_rand["impressions"]=imp_temp
df_rand["click"]=click_temp
df_rand["cost"]= cost_temp
df_rand["CTR"]= (df["click"]/df["impressions"]*100).round(4)
df_rand["CPM"]= (df["impressions"]/df["cost"]*1000).round(4)
df_rand["CPC"]= (df["cost"]/df["click"]).round(4)

In [148]:
df_rand = df_rand.sort_values("CTR",ascending=False)
df_rand

   bid  impressions  click      cost     CTR       CPM        CPC
6   25       6591.0      3  100003.0  0.0733   13.6469  100023.00
5  183       1543.0      1  100040.0  0.0674   14.8217  100056.00
0   11      15627.0      7  100001.0  0.0599  175.6618    9509.75
4  156       1696.0      1  100049.0  0.0580   17.2424  100044.00
1    9      12051.0      8   64261.0  0.0542   92.2108   20002.00
3   25       6591.0      3  100003.0  0.0495   20.1856  100022.00
2   76       2519.0      1  100024.0  0.0241   41.5413  100021.00

# 3. Linear bidding strategy

In [156]:
average_CTR = CTR["CTR"].mean()

In [155]:
CTR

   advertiser    CTR   count
0        2997  0.461   54487
1        1458  0.083  540293
2        3358  0.076  304782
3        3427  0.075  454031
4        3386  0.072  498554
5        2821  0.062  231416
6        3476  0.050  346778
7        2261  0.031  120619
8        2259  0.031  146778

In [ ]:
def linear_bid(bid):
    impression = 0.0
    clicks = 0
    cost = 0.0
    budget = 100000
    bid = bid*CTR

    
    for click, pay_price in validation[['click','payprice']].values:
            if bid > pay_price:
                impression += 1.0
                clicks += click
                cost += pay_price
            if cost>= budget:
                break
        
    return bid,impression, clicks, cost